* {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.nav_bar {
  background-color: #9d08ab;
  border: 2px solid rgb(177, 23, 177);
  height: 70px;
  border-radius: 10px;
  padding-top: 20px;
}
.cart {
  margin-left: 850px;
  color: black;
  font-size: 20px;
}
.text_color {
  color: black;
}
